{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} About Project {% endblock %}</h1>
   <pre>
        Base of this project was created with the guidance of tutorial from digitalocean.com.
        Things I learned:
        - Flask Python Framework(Build Web App, deploy dev server)
        - Jinja Template Engine(Simply HTML page creation via markup reuse and applying logic)
        - SQLite database(integration, Interaction POST, GET, CREATE, DELETE)
        - BootStrap CDN(pre created css stylesheet)

        -Hayden Vara
   </pre>
{% endblock %}